# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Django
*.sqlite3
static/
media/

# Virtual environments
venv/
ENV/
.env

# VSCode
.vscode/

# macOS
.DS_Store

# Docker
*.log
docker-compose.override.yml

# Pytest
.pytest_cache/

# Coverage
htmlcov/
.coverage

# Ignore migrations if needed (uncomment if you want to ignore all migration files)
# */migrations/*
# !*/migrations/__init__.py 